html, body {
    height: 100%;
    margin: 10;
    background-color: #c4c0b6; /* Цвет фона для всего окна */
}

header {
    background: #B0DDDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; /* Добавляем небольшой отступ сверху и снизу */
    border: 2px solid #74a2c0; /* Добавляем бордер */

}

sidebar {
    height: 300px;
    border: 2px solid #7c7c55; /* Добавляем бордер */

}

.main {
    background: #dbda74;
    height: 300px;
    border: 2px solid #7c7c55; /* Добавляем бордер */

}

footer {
    background: #b4b69b;
    height: 70px;
    border: 2px solid #aaaa7d; /* Добавляем бордер */

}


header .container,
footer .container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.h2 {
    text-align: center;
}

.main-content h2 {
    text-align: center;
}


header, footer {
    display: flex;
    align-items: center;
    /*width: 100%;*/
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1600px; 
    padding: 0 15px;
    margin: 10px auto;   
}

.container:after {
    content: "";
    display: table;
    clear: both;
  }

.logo {
    margin-right: auto; /* Выталкивает логотип влево */
    display: flex;
    justify-content: center; /* Это выровняет логотип по горизонтали */
    align-items: center; /* Это выровняет логотип по вертикали */
    /*height: 100vh;*/ /* Это установит высоту на 100% от высоты окна */     
}

.logo img {
    height: 32px; /* Устанавливаем высоту логотипа */
    /*margin-top: -5px;*/ /* Приподнимаем логотип над серединной линией */
}

nav {
    display: flex;      /* Используем flexbox для навигации */
}

nav ul {
    display: flex;      /* Размещаем элементы списка в строку */
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-left: 40px;  /* Отступ между элементами списка */
}

nav a {
    text-decoration: none;
    line-height: 1;     /* Сбрасываем line-height для ссылок */
    padding: 10px;      /* Добавляем отступы для ссылок */
}

.sidebar-container {
    width: 17%;
    height: 100%;
    float: left;
    background-color: #cfd3b7; /* Цвет фона для контейнера сайдбара */
    overflow: auto; /* для полос прокрутки */
    padding: 20px; /* Отступ для контейнера сайдбара */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень */
    
    border: 2px solid #aaaa7d; /* Добавляем бордер */
}

.main-content-container {
    width: 83%;
    height: 100%;
    float: right;    
    background-color: #dbdfcb; /* Цвет фона для контейнера основного содержимого */
    overflow: auto; /* для полос прокрутки */
    padding: 20px; /* Отступ для контейнера основного содержимого */

    border: 2px solid #aaaa7d; /* Добавляем бордер */
}

.sidebar-container, .main-content-container {
    box-sizing: border-box;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #cfd3b7;   
}

.sidebar h2 {
    text-align: center;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    text-align: left; /* Прижимаем текст к левому краю */
  }
  
  .sidebar-menu > li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
  }
  
  .sidebar-menu a:hover {
    background-color: #ddd;
  }
  
  .submenu {
    list-style-type: none;
    padding-left: 20px;
    margin: 5px 0;
    display: none;
  }
  
  .submenu.open {
    display: block;
  }



.container div {    
    float: left;
    margin-bottom: 15px;
}

.col-1-2 {
    width: 50%;  
}

.col-1-3 {
    width: 33.3333333333%;
}

.col-1-4 {
    width: 25%;
}

.col-2-3 {
    width: 66.6666666667%;
}   